* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --dark-gunmetal: #212529;
  --platinum: #dee2e6;
  --light-silver: #dbd6d6;
  --gray: #808080;
  --black: #000000;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
header {
  position: sticky;
  top: 0;
  padding: 20px 0;
  background-color: var(--dark-gunmetal);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo a {
  font-size: 30px;
  font-weight: bold;
  color: var(--white);
}
nav ul li a {
  color: var(--white);
}
@media (max-width: 991px) {
  nav {
    position: relative;
  }
  nav label img {
    cursor: pointer;
  }
  nav input {
    appearance: none;
  }
  nav input:checked + ul {
    display: block;
  }
  nav ul {
    display: none;
    position: absolute;
    top: 51px;
    right: 0;
    width: 250px;
    background-color: var(--dark-gunmetal);
  }
  nav ul li a {
    display: block;
    padding: 15px 25px;
  }
  nav ul li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.377);
  }
}
@media (min-width: 992px) {
  nav label,
  nav input {
    display: none;
  }
  nav ul {
    display: flex;
  }
  nav ul li a {
    padding: 0 20px;
  }
}
.hero {
  padding: 75px 0 0 0;
  background-color: var(--platinum);
}
.hero .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 100px;
}
.hero div h1 {
  font-size: 40px;
}
.hero div p {
  line-height: 1.5;
  color: var(--gray);
}
.hero div a {
  display: block;
  width: fit-content;
  margin-top: 25px;
  padding: 12px 25px;
  border-radius: 8px;
  color: var(--black);
  border: 1px solid var(--dark-gunmetal);
}
.hero div a:hover {
  color: var(--white);
  background-color: var(--dark-gunmetal);
}
.about,
.services,
.blog {
  padding: 75px 0;
}
@media (max-width: 627px) {
  .about {
    text-align: center;
  }
}
.about .container,
.services .services-list,
.blog .cards,
footer .contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.about h2 {
  font-size: 35px;
}
.about p {
  line-height: 1.5;
}
.about a {
  display: inline-block;
  margin: 25px 10px 0 0;
  padding: 12px 25px;
  border-radius: 8px;
  border: 1px solid var(--dark-gunmetal);
  color: var(--black);
}
.about a:hover {
  color: white;
  background-color: var(--dark-gunmetal);
}
.services {
  text-align: center;
  background-color: var(--platinum);
}
.services .container .title {
  margin-bottom: 20px;
}
.title h2 {
  font-size: 35px;
}
.title p {
  line-height: 1.5;
  color: var(--gray);
}
.services-list .service {
  width: 300px;
  padding: 25px;
  border-radius: 8px;
  background-color: var(--dark-gunmetal);
}
.service h3 {
  margin: 20px 0;
  color: var(--white);
}
.service p {
  line-height: 1.5;
  color: var(--light-silver);
}
.blog .container h2,
footer .container h2 {
  text-align: center;
  font-size: 35px;
}
.blog .cards,
footer .contact {
  margin-top: 25px;
}
.cards .card {
  width: 400px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 8px;
  background-color: var(--light-silver);
}
.card img {
  width: 50%;
  height: 100%;
  border-radius: 8px;
}
.card h3,
.contact form h3 {
  margin-bottom: 20px;
}
.card p {
  line-height: 1.3;
}
footer {
  background-color: var(--platinum);
}
footer .container {
  padding: 75px 0;
}
form input[type="email"],
form input[type="text"] {
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: var(--dark-gunmetal);
}
form input[type="email"]::placeholder,
form input[type="text"]::placeholder,
form textarea::placeholder {
  font-size: 17px;
  color: var(--light-silver);
}
form textarea {
  display: block;
  width: 100%;
  padding: 25px 10px;
  resize: none;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: var(--dark-gunmetal);
}
form input[type="submit"] {
  display: block;
  margin: 15px 0 0 auto;
  padding: 10px 25px;
  border-radius: 8px;
  color: var(--black);
  border: none;
}
.container .social h3 {
  margin-bottom: 25px;
}
.container .social ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  color: var(--black);
}
footer p {
  text-align: center;
  padding: 25px 0;
  color: var(--white);
  background-color: var(--dark-gunmetal);
}